@charset "UTF-8";

body{
    background-image: linear-gradient(to Right, #f1d8c9, #f2c3af);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7c655b;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p{
    text-align: justify;
}

h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 5px #7c4a04;
}

h2{
    color: #125189;
}
